.calendar {

}

.calendar__container {
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
}

.calendar__title {
  width: 100px;
  display: block;
  text-align: center;
}

.calendar__day {
  width: 150px;
  height: 80px;
  display: block;
  border: 1px solid yellowgreen;

  &--current {
    color: dodgerblue;
  }

  &--today {
    color: red;
  }
}
