@import "../../sass/variables";
@import "../../sass/mixins";

.my-orders__wrapper > {
    box-sizing: border-box;
}

.my-orders__wrapper {
    width: 1000px;
    margin: 120px auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-element-background-light;
    padding: 40px 0 10px 5px;
    border-radius: 5px;
    box-shadow: $box-shadow;

    @include media-tablet {
        width: 900px;
    }

    @include media-small-tablet {
        width: 700px;
    }

    @include media-mobile {
        padding-top: 40px;
        width: 500px;
    }

    @include media-small-mobile {
        width: 340px;
    }
}

.my-orders__header {
    margin-top: -70px;
}

.my-orders-list__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto 0;
    gap: 20px;
}

.my-orders-list__item {
    width: 300px;
    display: flex;
    justify-content: space-between;
    border: 1px solid $font-color-dark;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 180px;    

    h4 {
        margin-bottom: 10px;
    }

    .item__image {
        img {
            width: 130px;
        }
    }
    
    .item__text {
        width: 165px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
    }
    
    .item__date,
    .item__price,
    .item__status {
        margin-bottom: 10px;
    }
    
    .item__button {
        width: 120px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        padding: 3px;
    }
}
