@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.list {
  padding: 40px 25px;

  @include media-small-tablet {
    width: 100%;
  }
}

.list__wrapper {
  overflow-x: auto;
}

.list__header {
  margin-bottom: 40px;
  font-size: $font-size-xlg;
  text-transform: capitalize;
  text-align: center;
}

.list__list {
  min-width: 1000px;
}

.list__item {
  margin: 10px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.list__column {
  width: 15%;

  &--last {
    text-align: right;
  }

  &--warning {
    color: $color-special-1;
  }
}

.list__image {
  width: 50px;
  height: 50px;
}
