@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.category__list_item {
  // width: 25%;
  // padding: 10px 10px;

  width: calc(33.3% - 15px);
    padding: 15px;
    background: #f5f5f5;
    border-radius: 5px;
    margin: 7px;


  @include media-mobile {
    padding: 0;
    margin: 10px 10px;
  }
}

.category-blok {
  color: #fff;
  display: block;
  text-decoration: none;
 
}

.category-img {
  width: 100%;
  height: auto;
}


.category-name {
  color: #fff;
  padding: 4px 10px;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  border: none;

  &:hover {
   opacity: 0.8;
  }
}