@import "../../sass/variables";
@import "../../sass/mixins";

.main {
  position: relative;
}

// ======nav================================nav================= 
.nav-block {
  left: 0;
  right: 0;
  z-index: 99;
  position: absolute;
  background: #b9b9ff00;
}

.container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 130px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.nav-wrapper {
  margin-left: 15px;

  @include media-small-tablet {
    display: none;
  }
}
// ============================sidebar

.nav__hamburger {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url(../../assets/images/svg/hamburger.svg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  display: none;

  &:hover {
    opacity: 0.7;
  }

  @include media-small-tablet {
    display: block;
  }
}

.nav-sidebar {
  height: calc(20vh - 22px);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8px;
  left: 0;
  opacity: 0;
  background-color: #ffffff;
  transition: 0.4s ease-in-out;
  transform: translateY(-225px);
  box-shadow: 0 16px 40px 0 rgb(0 0 0 / 4%);
  overflow: hidden;
  z-index: 5;
  display: none;

  @include media-small-tablet {
      display: block;
  }
  @include media-small-mobile {
    top:-2px
  }
  
}

.sidebaropen {
  width: 100%;
  opacity: 1;
  transform: translateY(0);
  background: black;
}

.nav-sidebar-item {
  padding-left: 20px;
}

.nav-sidebar-link {
  display: block;
  padding: 3px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: $font-size-xxlg;
  font-family: $font-family-base;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }
}

.logo {
  display: inline-block;
  height: 50px;
  width: 200px;
  background-image: url(../../assets/images/png/logo.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 15px;
  cursor: pointer;
}

.list-wrapper {
  flex-grow: 1;
  align-items: center;
}

.list-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  transition: all .3s ease-in-out;
  width: 100%;
}

.nav-item {
  margin: 0 30px 0 0;
  position: relative;
}

.nav-link {
  display: block;
  padding: 3px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: $font-size-xxlg;
  font-family: $font-family-base;
  background-color: transparent;


  &:hover {
    color: #ffffff;
    background: none;
    box-shadow: none;
  }
  &:hover::before {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
  }
  &:hover::after {
    opacity: 1;
    transform: translateY(0);
}
  
  &::before {
    background: #ffffff;
    bottom: 39;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 0;
    transition: all .3s ease-in-out;
  }

  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    content: "";
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: translateY(-10px);
    bottom: 0;
    transform: translateY(10px);
  }
}

.link-active {
  color: #4788ff;
  text-decoration: none;
  background-color: transparent;

  &::before {
  width: 100%;
  opacity: 1;
  transform: translateY(0);
  }

  &::after {
    opacity: 1;
    transform: translateY(0);
  }
}

 a.nav-link-login {
  background-image:  url(https://cdn.shopify.com/s/files/1/0182/8937/files/account-icon-v1_small.png?v=16694207373365200438) !important;
}

.nav-link-login {
  background-size: contain ;
  background-repeat: no-repeat;
  text-decoration: none;
  outline: 0;
  display: block;
  height: 46px;
  width: 32px;
  background-size: 32px;
  cursor: pointer;

  &:hover {
    background-size: 36px;
    transition: all .3s ease-in-out;
    height: 52px;
    width: 38px;
  }
}

// =================video============

.video-block {
  background-image: url(https://www.thetiehub.com/wp-content/uploads/2022/11/ezgif.com-gif-maker-1-2.gif);
  background-repeat: no-repeat;
  background-position: 50% 2px;
  padding-top: 674px;
  background-size: 100%;

  @include media-small-tablet {
    padding-top: 430px;
  }

  @include media-mobile {
    padding-top:320px;
    background-size: 150%;
  }
}

.service-second {
  opacity: 0.0;
}

.banner-wrapper {
  background-image: url(../../assets/images/png/TIESBANNERFINAL23.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  padding: 195px 0px;

  @include media-tablet {
    padding: 125px 0px;
  }

  @include media-small-tablet {
    padding: 100px 0px;
  }

  @include media-mobile {
    padding: 80px 0px;
  }
  
  @include media-small-mobile {
    padding: 63px 0px;
  }
}