@import "../../sass/variables";
@import "../../sass/mixins";

.my-ties__wrapper > {
    box-sizing: border-box;
}

.my-ties__wrapper {
    width: 500px;
    margin: 120px auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-element-background-light;
    padding: 80px 0 10px 5px;
    border-radius: 5px;

    @include media-small-mobile {
        width: 340px;
    }
}

.my-ties__header {
    margin-top: -70px;
}

.my-ties-list__wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.my-ties-list__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid $font-color-dark;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 145px;    

    .item__image {
        img {
            width: 100px;
        }
    }
    
    .item__text {
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .item__name,
    .item__price {
        margin-bottom: 10px;
    }
    
    .item__button {
        width: 80px;
        cursor: pointer;
        border-radius: 5px;
    }
}

.my-ties-orders-list__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid $font-color-dark;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 115px; 

    .item__image {
        img {
            width: 80px;
        }
    }

    .item__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10px;
    }

    .item__date {
        margin-bottom: 10px;
    }
}
