@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.orders-list__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.orders-list__item {
    width: 100%;

    table {
        width: 100%;

        th {
            height: 35px;
            vertical-align: middle;

            &:first-child {
                width: 40px;
            }

            @include media-mobile {

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    width: 40px;
                }
            }

            @include media-small-mobile {
                
            &:first-child {
                width: 20px;
            }
                &:nth-child(3) {
                    display: none;
                }

            }
        }
        tr {
            vertical-align: middle;
        }
    }
}

.select {

    @include media-mobile {
        max-width: 120px;    
    }  

    @include media-small-mobile {
        max-width: 80px;    
    }  
    
}

.icon {
    background-image: url("../../../../assets/images/png/icon-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 35px;
    border: none;
    cursor: pointer;

    @include media-small-mobile {
        width: 20px; 
        background-position: center;
    }
}

.button-apply {
    cursor: pointer;
    border-radius: 5px;
}
