@import "../../sass/mixins";
@import "../../sass/variables";

.sidebar {
  height: calc(100vh - 80px);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: $color-element-background-light;
  transition: $transition;
  transform: translateX(-210px);
  box-shadow: $box-shadow;
  overflow: hidden;
  z-index: 5;

  &--fixed {
    opacity: 1;
    transform: translateX(0);

    .sidebar__name {
      display: none;
    }
  }

  &--show {
    width: 210px;
    opacity: 1;
    transform: translateX(0);

    .sidebar__name {
      display: inline;
    }
  }

  @include media-small-mobile() {
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
}

.sidebar__wrapper {
  margin: 35px;

  @include media-small-mobile {
    margin: 35px 20px;
  }
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar__item {
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;

  &:hover {
    .sidebar__name {
      color: $color-accent-hover;
    }

    & > svg {
      stroke: $color-accent-hover;
    }
  }
}

.sidebar__icon {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  display: inline-block;
  transition: $transition;
}

.sidebar__name {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}
