@import "../../sass/variables";
@import "../../sass/mixins";

.dashboard {
  transition: $transition;

  &--indent {
    margin-left: 100px;

    @include media-small-mobile {
      margin-left: 70px;
    }
  }
}

.dashboard__header {
  margin: 40px 0 10px 0;
  font-size: $font-size-xlg;
  text-transform: capitalize;
}

.dashboard__text {
  font-size: $font-size-lg;
}