@import "../../sass/variables";
@import "../../sass/mixins";

.dashboard {
  transition: $transition;

  &--indent {
    margin-left: 100px;
  }
}

.dashboard__header {
  margin: 40px 0 10px 0;
  font-size: $font-size-xlg;
  text-transform: capitalize;
}

.dashboard__header-2 {
  margin: 25px 0;
  font-size: $font-size-llg;
  text-transform: capitalize;
}

.dashboard__header-3 {
  margin: 20px 0;
  font-size: $font-size-lg;
  text-transform: capitalize;
}

.dashboard__text {
  font-size: $font-size-lg;
}

.dashboard__text--small {
  font-size: $font-size-sm;
}
