@import "../../sass/variables";
@import "../../sass/mixins";

.footer-wrapper {
  padding: 40px 0;
}

.footer__columns_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-mobile {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}

.section__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: inline-block;
  height: 60px;
  width: 250px;
  background-image: url(../../assets/images/png/logo.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.05);
  }
}

.section__logo_text {
  font-size: $font-size-xlg;
  font-family: $font-family-base;
  color: $color-white1;
}

.footer-title {
  font-size: $font-size-xxlg;
  font-weight: $font-weight-bolder;
  color:$color-white1;
  padding-bottom: 30px;
}

.footer__list_item {
  font-size: $font-size-llg;
  color: $color-grey2;
  padding-bottom: 10px;
}

.footer__list_item-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: $color-white1;
  list-style: none;

  &:hover {
    opacity: 0.6;
  }
}

.footer__contact-icon-phone {
  @include icon-background("../../assets/images/svg/phone.svg", 20px);
}

.footer__contact-icon-email {
  @include icon-background("../../assets/images/svg/email.svg", 20px);
}

.item-link__social_face {
  background: url(../../assets/images/png/face.webp);
}

.item-link__social_twit {
  background: url(../../assets/images/png/twit.png);
}

.item-link__social_inst {
  background: url(../../assets/images/png/inst1.png);
}

.section__contact_link {
  list-style: none;
  color: $color-grey2;

  &:hover {
    color: $color-white1;
  }
}

.copyright-footer {
  padding: 10px 0;
  border-top: 3px solid $color-grey5;
}

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-small-mobile {
    flex-direction: column;
    gap: 15px;
  }
}

.copyright-text {
  font-size: $font-size-llg;
  font-family: $font-family-base;
  color: $color-white1;
  cursor: default;
}

.copyright__column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.copyright-footer__link {
  @include icon-background("../../assets/images/svg/github.svg", 40px);
  transition: $transition;

  &:hover {
      transform: scale(1.2);
    }
}

.logo-link {
  @include icon-background("../../assets/images/svg/rs-school.svg", 40px, 100px);
  transition: $transition;

  &:hover {
    transform: scale(1.2);
  }
}
