@import "../../sass/variables";
@import "../../sass/mixins";

.tie-category-banner {
  background: $color-grey4;
}

.configurator {
  max-width: 1200px;
  margin: 0 auto;
}

.tie-category {
  padding: 40px 0;
}
