@import "../../../sass/variables";
@import "../../../sass/mixins";



.plants__block-wrapper {
  display: flex;
  width: 100%;
  background:#ffffff;
}

.preview-panel {
  width: 30%;

  @include media-small-mobile {
    width: 40%;
  }
}

.image__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-panel {
  width: 70%;
  padding-top: 20px;
  padding-right: 40px;

  @include media-small-mobile {
    width: 60%;
    padding-right: 10px;
  }
}


.title-item {
  color: #777777;
  font-family: $font-family-base;
  font-size:$font-size-xlg;

  @include media-small-mobile {
    font-size: $font-size-llg;
  }
}

.wizard__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wizard-item__title {
  color: #777777;
  font-size: $font-size-xlg;
  line-height: 33px;
  font-weight: $font-weight-light;
  text-transform: capitalize;
  background: none;
  padding: 10px 0 10px 5px;
  border-bottom: 1px solid #777777;
  margin: 0;
  cursor: pointer;
  margin-bottom: 15px;

  &::after {
    content: url(https://api.kitbuilder.co.uk/client/css-tiecreators/round-bullet.png);
    opacity: .5;
    -webkit-transition: all .3s ease-in-out;
    float: right;
    cursor: pointer;
    

    @include media-small-mobile {
    content: "";
    } 
  }

  @include media-small-mobile {
    font-size: $font-size-llg;
  }  
}

.form-color__wrapper {
  display: none;
}

.title-form {
  font-family: $font-family-base;
  color: #777777;
  font-size: $font-size-xs;
  padding-bottom: 10px;
}

.colors-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0; 
}

.color-label {
  display: inline-block;  
    
  &:hover {
      background: linear-gradient(45deg, #f4e9ffa6, #af44bd00);
  }   
}

.color-input {
  opacity: 0;
  margin: 5px 8px;
  position: absolute;
  cursor: pointer;
}

.tile-picker {
  height: 22px;
  width: 22px;
  margin: 0 0 4px 4px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #0000009e;;

  @include media-small-mobile {
    width:19px;
    width: 20px;
    margin: 0 0 2px 2px;
  }
}

.btn-next__wrapper {
  font-family: "Roboto",sans-serif;
  color: #898989;
  overflow: hidden;
  padding: 10px 0;
}


.btn-link {
  float: right;
  width: 120px;
  color: #ffffff;
  border: 1px solid #ccc;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;

  &:hover {
    color: #ffffff;
    opacity: 0.8;

  }
}

.active {
  display: block;
}

.active-btn {
  &::after {
    content: url(https://api.kitbuilder.co.uk/client/css-tiecreators/green-bullet.png);
  }
}

.weave-list-wrapper {
  display: flex;
}

.weave-list {
  list-style: none;
  display: flex;
  padding: 0;

  @include media-small-tablet {
    flex-direction: column;
  }
}

.weave-list__item {
  padding-bottom: 5px;
}

.weave__label {
  overflow: visible;
  margin: 0;
  display: block;
}

.weave__input {
  opacity: 0;
}

.weave-span {
  border-color: #999;
  height: 128px;
  width: 128px;
  cursor: pointer;
  float: left;
  margin: 0 0 4px 4px; 
  position: relative;
  border: solid 1px #ccc;

  @include media-small-tablet {
    height: 100px;
    width: 100px;
  }
}

.weave-img {
  height: 100%;
  width: 100%;
}

.selected {
  // content: url(https://api.kitbuilder.co.uk/client/css/skin/tick.png); //нужно
  position: absolute;
  right: -2px;
  top: -4px;
  border: 1px solid rgb(227, 16, 16);
   
}