@import "../../../sass/variables";
@import "../../../sass/mixins";


.subcategories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background: $color-white1;
}

.title-subcategories {
  margin: 0 15px 40px 15px;
  font-size: $font-size-lgg;
  line-height: 33px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  color: $color-black1;
}

.images-list {
  list-style: none;
  display: flex;
  padding: 0;
  width: 100%;
  margin: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 13px;

  @include media-small-mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.image-item {
  width: 32%;
  padding: 15px;
  display: flex;
  align-items: center;
  background: $color-white1;
  border-radius: $border-radius-sm;

  .btn-wrapper {
    margin-bottom: 10px;
  }

  @include media-mobile {
    width: 48.5%;
  }

  @include media-small-mobile {
    padding: 0;
    margin: 10px 10px;
    width: 65%;
  }
}

.img-wrapper {
  padding: 15px;
}

.tie-tipe {
  background: $color-grey3;
  padding: 3px 30px;
  border-radius: 5px;
}

.img-subcategories {
  width: 100%;
}
